*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.discover{
    width: 100%;
    height: 110vh;
    padding: 0 80px;
    background-image: url(images/background\ 1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.discover .arrival{
    padding: 40px;
    top: 40%;
    right: 80px;
    position: absolute;
    background: #DFE9F4;
    border-radius: 5px;
}

.arrival span{
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.arrival h1{
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    color: #054C73;
    margin: 10px 0;
}

.arrival p{
    font-size: 14px;
    color: #333333;
    margin-bottom: 40px;
}

.arrival a{
    text-decoration: none;
    padding: 15px 40px;
    background: #054C73;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s;
}

.arrival a:hover{
    background: #FFFFFF;
    color: #054C73;
    border: 2px solid #054C73;
}

.services{
    display: flex;
    align-items: center;
    padding: 40px 80px;
    justify-content: space-between;
    background: #F2F5FF;
}

.services img{
    width: 55px;
    margin-right: 15px;
}

.services .ser-cart{
    display: flex;
    align-items: center;
}

.ser-cart h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
    color: #333333;
}

.ser-cart p{
    font-size: 13px;
    color: #333333;
    opacity: 0.7;
}

@media (max-width: 700px) {
    .navbar,.navbar .navbar-link ul, .services{
        display: inline-block;
        justify-content: center;
        padding: 8px auto;
        width: 100%;
    }
    .navbar-link ul li{
        margin-bottom: 20px;
    }
    .navbar h3{
        margin-bottom: 40px;
    }
    .services .ser-cart{
        margin-bottom: 25px;
    }
    .discover .arrival{
        display: inline-block;
        align-items: center;
        justify-content: center;
        width: 100%;
        top: 0;
        left: 0;
    }
}

.collection{
    padding: 40px 80px;
    text-align: center;
    background: #FFFFFF;
}

.collection h1{
    font-size: 35px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 15px;
}

.collection p{
    font-size: 14px;
    color: #333333;
    opacity: 0.7;
    margin-bottom: 60px;
}

.collection .image{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image .one{
    border-top-left-radius: 50px;
}

.image img{
    width: 340px;
    margin-left: 1.5rem;
}

.image .two{
    margin-top: -25px;
    margin-bottom: 25px;
}

@media (max-width: 700px) {
    .collection .image img{
        display: block;
        position: relative;
        margin-bottom: 10px;
        z-index: 3;
    }

}

.beautify{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    flex-wrap: wrap;
    position: relative;
}

.left h2{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 20px;
}

.left p{
    font-size: 14px;
    color: #333333;
    opacity: 0.7;
    margin-bottom: 30px;
}

.left a{
    text-decoration: none;
    padding: 10px 25px;
    background: #054C73;
    font-size: 10px;
    border-radius: 20px;
    color: #FFFFFF;
}

.right img{
    width: 320px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

@media (max-width: 700px) {
    .left{
        width: 100%;
        margin-bottom: 20px;
    }
    .beautify{
        display: inline-block;
        align-items: center;
        justify-content: center;
        padding: 10px 50px;
        flex-wrap: wrap;
        position: relative;
    }
}

.browse{
    text-align: center;
    padding: 40px 80px;
}

.browse h1{
    font-size: 25px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
}

.browse p{
    font-size: 14px;
    color: #333333;
    opacity: 0.7;
    margin-bottom: 30px;
    margin-top: 10px;
}

.browse .inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.inner img{
    width: 350px;
    margin-bottom: 15px;
}

.submit{
    text-align: center;
    padding: 40px;
    background: #F2F5FF;
}

.submit h1{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}

.submit p{
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    opacity: 0.8;
    margin-bottom: 40px;
}

.sub-inner{
    display: flex;
    justify-content: center;
}

.sub-inner input{
    width: 300px;
    padding: 15px 10px;
    border: 1.5px solid #0c93db;
    outline: none;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.sub-inner button{
    padding: 17px;
    width: 100px;
    background: #054C73;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.footer{
    padding: 40px 80px;
    display: flex;
    justify-content: center;
    background: #054C73;
    color: #FFFFFF;
}

.footer .care{
    margin-right: 25px;
}

.care h3{
    margin-bottom: 20px;
    font-size: 18px;
}

.care p{
    font-size: 14px;
    line-height: 25px;
    opacity: 0.8;
    margin-bottom: 15px;
}

.shop h3{
    font-size: 18px;
    margin-bottom: 15px;
}

.shop img{
    margin-right: 15px;
    border-radius: 2px;
}

@media (max-width: 700px) {
    .footer{
        display: inline-block;
        padding: 10px;
        text-align: center;
    }
    .care{
        width: 100%;
    }
    .shop img{
        width: 100%;
        margin-bottom: 15px;
    }
}
